{% for book in books %}
    <div><img src ="{{ book.image }} "/></div>
    <div><a href="{{ book.link }}" > {{ book.title }}</a></div>
    <div>{{ book.price }}</div>
    <div>{{ book.link }}</div>
    {% if isDelete == 1 %}
      <form action ="/experts_book_delete/{{ book.asin }}" method="post" id="remove-amazon-users-book-form">
        <button class="remove_book btn btn-danger form-submit" type="submit" id="edit-remove-button" name="op" value="Delete">Delete</button>
      </form>
    {% endif %}
{% endfor %}