{{ form }}
<div class="blocktitle" style="text-align: center"><em>in association with</em> <strong>Amazon.com</strong></div>
{% set counter = 0 %}
{% if results %}
    {{ results }}

{% if totalPages > 1 %}
    <!-- Previous -->
    {% if currentPage > 1 %}
        <a href="/amazon_store?Keywords={{ keyword }}&SearchIndex=Books&page={{ currentPage - 1 }} ">Prev</a>   
    {% endif %}
    <!-- Previous Ends -->

    
    {% set firstLinkSeedValue = (totalPages - currentPage <= 5) ? totalPages - 5 : currentPage %}
    {% set firstLink = firstLinkSeedValue - 4 < 1 ? 1 : firstLinkSeedValue - 4 %} 

    {% set lastLinkSeedValue = (currentPage <= 4) ? 5 : currentPage %}
    {% set lastLink = lastLinkSeedValue + 5 > totalPages ? totalPages : lastLinkSeedValue + 5 %} 

    {% for i in firstLink..lastLink %}
        <a href="/amazon_store?Keywords={{ keyword }}&SearchIndex=Books&page={{ i }} ">{{ i }}</a>   
    {% endfor %}

    <!-- Next -->
    {% if currentPage < totalPages %}
        <a href="/amazon_store?Keywords={{ keyword }}&SearchIndex=Books&page={{ currentPage + 1 }} ">Next</a>   
    {% endif %}
    <!-- Next Ends -->
    {% endif %}
{% endif %}
